
name: {{User.name}}
<br><br>

username: {{User.username}}
<br><br>

email: {{User.email}}
<br><br>

number: {{User.number}}
<br><br>

<a href="{{User._id}}/editProfile"> Edit Profile </a>
<br><br>

<a href="url"> Delete Profile </a>

<a href="profile/{{User._id}}> Back to Profile </a>



